/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: rgba(0, 128, 0, 0.546);
    padding: 10px 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .logo h1 {
    font-size: 24px;
    color: white;
  }
  
  .navbar .menu {
    list-style: none;
    display: flex;
  }
  
  .navbar .menu li {
    margin: 0 15px;
  }
  
  .navbar .menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .navbar .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
  }
  
  .hero {
    background: #fff;
    text-align: center;
    padding: 50px 20px;
  }

  .sobre h2{
    color: rgba(0, 128, 0, 0.546);
  }

  .sobre p{
    color: rgba(0, 0, 0, 0.521);
    font-size: 20px;
  }

  .contato h2{
    color: rgba(0, 128, 0, 0.546);
  }

  .contato p {
    color: rgba(0, 0, 0, 0.521);
    font-size: 20px;
  }

  .cardapio h2{
    color: rgba(0, 128, 0, 0.546);
    margin-bottom: 10px;
  }
  
  .cardapio, .sobre, .contato {
    padding: 50px 20px;
    text-align: center;
  }
  
  .cardapio h2, .sobre h2, .contato h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .produtos {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .produto {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 20px;
    text-align: center;
  }
  
  .produto img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .container-whatsApp{
    display: flex;
    padding: 10px;
    gap: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .container-whatsApp p{
    color: green;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .navbar .menu {
      display: none;
    }
  
    .navbar .menu-toggle {
      display: flex;
    }
  
    .menu.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 20px;
      background-color: #ff9900;
      padding: 20px;
      border-radius: 10px;
    }
  
    .produtos {
      flex-wrap: wrap;
    }
  }
  